body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
@media (max-width: 1024px) {
    body #auth_img{
      display: none;
    }
    body #auth_form{
        width: 100%;
      }
  }
#auth_box{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    background-color: #f3f7f9;
}
#auth_form{
    width: 30%;
    color:#98a6ad;
    max-height: 800px;
}
#auth_form_home{
    padding: 10px 10px 0 10px;
}
#auth_form_cont{
    padding: 15px 15px 0 15px;
    margin-top: 50px;
    height: 100%;
}
#logo{
    width: 100%;
    font-size: 60px;
    padding: 10px;
    text-align: center;
}
.submit{
    width: 100%;
    height: 35px;
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(168, 168, 242);
}
.submit:hover{
    background-color: rgb(133, 133, 226);
}
#auth_img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 800px;
    background-image: url("../images/auth_img.jpg");
}
#text{
    color: #fff;
    text-align: center;
    font-size: 22px;
    width: 500px;
}
.center{
    text-align: center;
    margin: 30px;
}
.input{
    width: 100%;
    height: 30px;
    border: 1px #6c757d solid;
    border-radius: 2px;
    border-color: rgb(222, 213, 213);
}
.input::placeholder{
    color:#cad1d8;
    font-size: 15px;
}
.nav_item{
    display: inline-block;
    font-size: 30px;
    margin: 10px;
    cursor: pointer;
}
.nav_item:hover{
    color: rgb(130, 124, 124);
}
#nav_item_def{
    border-bottom: 3px solid  rgb(168, 168, 242);
}
#pass_text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons{
    width: 25px;
    height: 25px;
}
#form_block_signup, #pass_cont , #back_btn_box , #pass_success, #pass_rec_footer{
    display: none;
}
#copy_text{
    margin-top: 40px;
}
#copy_text_login{
    margin-top: 140px;
}
.input_check{
    margin: 10px 5px 10px 0;
}
#pass_forgot{
    cursor: pointer;
}
#pass_forgot:hover{
    color: rgb(130, 124, 124);
}
.pass_flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    min-height: 700px;
}
#back_btn{
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
}
#back_btn:hover{
    color: rgb(130, 124, 124);
}
#done_img{
    width: 100px;
    height: 100px;
}
