<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/dropzone.min.css">
    <link rel="stylesheet" href="../styles/drop.css">
    <title>Drop</title>
</head>

<body>
    <div id="drop">
        <form action="/" class="dropzone">
            <div class="fallback">
                <input name="file" type="file" multiple />
            </div>
        </form>
    </div>
    <script src="../scripts/dropzone.min.js"></script>
    <script src="../scripts/drop.js"></script>
</body>

</html>