<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/form.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Form</title>
</head>

<body>
    <div id="form_box">
        <div id="form_name">
            <h2>Form</h2>
        </div>
        <div id="form_buttons">
            <div class="btns">Account</div>
            <div class="btns">Profile</div>
            <div class="btns">Finish</div>
        </div>
        <div id="progress">
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success active" role="progressbar" aria-valuemin="0"
                    aria-valuemax="100" style="width:33%">
                </div>
            </div>
        </div>
        <div id="form_cont">
            <div id="first" class="forms">
                <form>
                    <p class="form_text">User name</p>
                    <input type="text" class="form_input">
                    <p class="form_text">Password</p>
                    <input type="password" class="form_input">
                    <p class="form_text">Re Password</p>
                    <input type="password" class="form_input">
                </form>
            </div>
            <div class="forms">
                <form>
                    <p class="form_text">First name</p>
                    <input type="text" class="form_input">
                    <p class="form_text">Last name</p>
                    <input type="text" class="form_input">
                    <p class="form_text">Email</p>
                    <input type="email" class="form_input">
                </form>
            </div>
            <div class="forms">
                <div id="text">
                    <p>Thank you !</p>
                    <p>
                        Quisque nec turpis at urna dictum luctus. Suspendisse convallis dignissim eros at volutpat. In
                        egestas
                        mattis dui. Aliquam mattis dictum aliquet.
                    </p>
                    <p><input type="checkbox"> I agree with the Terms and Conditions</p>
                </div>
            </div>
        </div>
        <div id="btn_pn">
            <div id="prev" class="btn_pn">Previous</div>
            <div id="Next" class="btn_pn">Next</div>
        </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="../scripts/form.js"></script>
</body>

</html>